

<!doctype html>
<html lang="pt-br">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, shrink-to-fit=no" />

    <!-- Anti-flicker snippet (recommended)  -->
    <style>
        .async-hide {
            opacity: 0 !important
        }
    </style>
    <script>
        (function (a, s, y, n, c, h, i, d, e) {
            s.className += ' ' + y; h.start = 1 * new Date;
            h.end = i = function () { s.className = s.className.replace(RegExp(' ?' + y), '') };
            (a[n] = a[n] || []).hide = h; setTimeout(function () { i(); h.end = null }, c); h.timeout = c;
        })(window, document.documentElement, 'async-hide', 'dataLayer', 4000,
            { 'GTM-K9GL89': true });</script>

    <!-- Google Tag Manager -->
    <script>(function (n, t, i, r, u) { n[r] = n[r] || []; n[r].push({ "gtm.start": (new Date).getTime(), event: "gtm.js" }); var e = t.getElementsByTagName(i)[0], f = t.createElement(i), o = r != "dataLayer" ? "&l=" + r : ""; f.async = !0; f.src = "//www.googletagmanager.com/gtm.js?id=" + u + o; e.parentNode.insertBefore(f, e) })(window, document, "script", "dataLayer", "GTM-K9GL89");</script>
    <!-- End Google Tag Manager -->
        <link rel="apple-touch-icon" sizes="57x57" href="https://djnn6j6gf59xn.cloudfront.net/content/img/favicons/apple-icon-57x57.png" />
    <link rel="apple-touch-icon" sizes="60x60" href="https://djnn6j6gf59xn.cloudfront.net/content/img/favicons/apple-icon-60x60.png" />
    <link rel="apple-touch-icon" sizes="72x72" href="https://djnn6j6gf59xn.cloudfront.net/content/img/favicons/apple-icon-72x72.png" />
    <link rel="apple-touch-icon" sizes="76x76" href="https://djnn6j6gf59xn.cloudfront.net/content/img/favicons/apple-icon-76x76.png" />
    <link rel="apple-touch-icon" sizes="114x114" href="https://djnn6j6gf59xn.cloudfront.net/content/img/favicons/apple-icon-114x114.png" />
    <link rel="apple-touch-icon" sizes="120x120" href="https://djnn6j6gf59xn.cloudfront.net/content/img/favicons/apple-icon-120x120.png" />
    <link rel="apple-touch-icon" sizes="144x144" href="https://djnn6j6gf59xn.cloudfront.net/content/img/favicons/apple-icon-144x144.png" />
    <link rel="apple-touch-icon" sizes="152x152" href="https://djnn6j6gf59xn.cloudfront.net/content/img/favicons/apple-icon-152x152.png" />
    <link rel="apple-touch-icon" sizes="180x180" href="https://djnn6j6gf59xn.cloudfront.net/content/img/favicons/apple-icon-180x180.png" />
    <link rel="icon" type="image/png" sizes="192x192" href="https://djnn6j6gf59xn.cloudfront.net/content/img/favicons/android-icon-192x192.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="https://djnn6j6gf59xn.cloudfront.net/content/img/favicons/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="96x96" href="https://djnn6j6gf59xn.cloudfront.net/content/img/favicons/favicon-96x96.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="https://djnn6j6gf59xn.cloudfront.net/content/img/favicons/favicon-16x16.png" />
    <link rel="shortcut icon" href="https://djnn6j6gf59xn.cloudfront.net/content/img/favicons/favicon.ico" type="image/x-icon" />
    <link rel="manifest" href="https://djnn6j6gf59xn.cloudfront.net/content/img/favicons/manifest.json" />
    <meta name="msapplication-TileColor" content="#ffffff" />
    <meta name="msapplication-TileImage" content="https://djnn6j6gf59xn.cloudfront.net/content/img/favicons/ms-icon-144x144.png" />
    <meta name="theme-color" content="#ffffff" />
    
    <meta name="dc.creator.address" content="atendimento@trinks.com" />
    <meta name="copyright" content="© 2013 - Trinks.com - Company Inc. Ultima atualização: 2016-04-01" />
    <meta name="city" content="Rio de Janeiro" />
    <meta name="rating" content="general" />
    <meta name="dc.format" content="text/xhtml" />
    <meta name="generator" content="HTML 5 / JQuery / CSS3" />
    <meta name="language" content="portuguese" />
    <meta name="distribution" content="global" />
    <meta name="googlebot" content="noindex, noarchive, nosnippet" />
    <meta name="page-type" content="controle de estoque, salão de beleza online, como abrir um salão, programa para salao, programa para salão, salao de beleza online, sistema de salao de beleza, sistema para salão, software para salao, software para salão, sistema salao, sistema de salao, sistema salão, salao de beleza na web, software livre, sistema de gestão, trinks, trinks.com" />
    <meta name="dc.creator" content="Programa para salão de Beleza - Trinks.com" />
    <meta name="robots" content="noindex, noarchive, nosnippet" />
    <meta name="state" content="RJ" />
    <meta http-equiv="content-language" content="pt-br" />
    <meta name="owner" content="contato@trinks.com" />
    <meta name="audience" content="all" />
    <meta name="creator" content="Programa para Salão de Beleza - Trinks.com" />
    <meta name="dc.description" content="O Trinks.com é um sistema de agendamento online para serviços de beleza. Aqui você pode encontrar e agendar os melhores salões de beleza, clínicas de estética e SPAs." />
    <meta name="author" content="Trinks.com - Programa para Salão de Beleza" />
    <meta name="inktomislurp" content="noindex, noarchive, nosnippet" />
    <meta name="google" content="notranslate" />
    <meta name="abstract" content="controle de estoque, salão de beleza online, como abrir um salão, programa para salao, programa para salão, salao de beleza online, sistema de salao de beleza, sistema para salão, software para salao, software para salão, sistema salao, sistema de salao, sistema salão, salao de beleza na web, software livre, sistema de gestão" />
    <meta name="classification" content="controle de estoque, salão de beleza online, como abrir um salão, programa para salao, programa para salão, salao de beleza online, sistema de salao de beleza, sistema para salão, software para salao, software para salão, sistema salao, sistema de salao, sistema salão, salao de beleza na web, software livre, sistema de gestão" />
    <meta name="page-topic" content="controle de estoque, salão de beleza online, como abrir um salão, programa para salao, programa para salão, salao de beleza online, sistema de salao de beleza, sistema para salão, software para salao, software para salão, sistema salao, sistema de salao, sistema salão, salao de beleza na web, software livre, sistema de gestão" />
    <meta name="revisit-after" content="daily" />
    <meta name="msnbot" content="noindex, noarchive, nosnippet" />
    <meta name="dc.title" content="Programa para salão de Beleza - Trinks.com" />
    <meta name="publisher" content="Programa para salão de Beleza - Trinks.com" />
    <meta name="dc.date.modified" content="01/04/2016" />
    <meta name="dc.subject" content="Programa para Salão" />
    <meta name="dc.identifier" content="http://www.trinks.com/programa-para-salao" />
    <meta name="SKYPE_TOOLBAR" content="SKYPE_TOOLBAR_PARSER_COMPATIBLEs" />
        <meta name="keywords" content="programa para salao, programa para salão, controle de estoque, salão de beleza online,
                                       como abrir um salão, programa para salao, programa para salão, salao de beleza online,
                                       sistema de salao de beleza, sistema para salão, software para salao, software para salão,
                                       sistema salao, sistema de salao, sistema salão, salao de beleza na web,
                                       software livre, sistema de gestão, trinks, trinks.com" />



    
    <meta property="og:title" content="Trinks - Marque seu horário! Acesse:" />
        <meta property="og:image" content="https://d39p7gjvbgwtet.cloudfront.net/Estabelecimentos/22030/800x500/logo_000022030.jpg?v=20211014122700" />

    <meta name="id-hotsite" content="19625" />
    <meta name="id-estabelecimento" content="22030" />


            <title>Trinks - a agenda do seu salão</title>

    
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.12/css/all.css" integrity="sha384-G0fIWCsCzJIMAVNQPfjH08cyYaUtMwjJwqiRKxxE/rx96Uroj1BtIQ6MLJuheaO9" crossorigin="anonymous">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
    <link rel="stylesheet" href="https://djnn6j6gf59xn.cloudfront.net/Scripts/animate.css/animate.min.css" type="text/css" />
    <link rel="stylesheet" href="https://djnn6j6gf59xn.cloudfront.net/content/libs/bootstrap/trinks/css/trinks_bootstrap.min.css" type="text/css" />
    <link rel="stylesheet" href="https://djnn6j6gf59xn.cloudfront.net/Areas/HotSiteV2/Content/estilo/trinkstyle/main.min.css?v=069098a7ae" type="text/css" />
    <link rel="stylesheet" href="https://djnn6j6gf59xn.cloudfront.net/content/js/slick-carousel/slick.css" type="text/css" />
    <link rel="stylesheet" href="https://djnn6j6gf59xn.cloudfront.net/content/js/slick-carousel/slick-theme.css" type="text/css" />
    <link rel="stylesheet" href="https://djnn6j6gf59xn.cloudfront.net/content/css/icomoon/style.css?v=069098a7ae" type="text/css" />
    


    <style type="text/css">
        main {
            display: block
        }

        .spinner {
            text-align: center;
        }

            .spinner i {
                font-size: 300%;
            }
    </style>
    <style type="text/css">
        [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
            display: none !important;
        }
    </style>
    <script src="https://djnn6j6gf59xn.cloudfront.net/bundles/polyfills?v=YdXXgL1YWSPN7PIADhHfuoXRwVhhnSCm-Ks_1Ze5mb01"></script>

    



    



    

<script>
    window.baseUrl = 'https://www.trinks.com/';
    window.URL_BASE_API = 'https://www.trinks.com/api';
</script>
</head>
<body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-K9GL89" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->

    








<header id="headerAppContainer" class="header sticky-top">
    <nav ng-controller="HeaderController as vm" class="navbar navbar-expand-lg navbar-light" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="/rockybarbearia">
                    <img loading="lazy" class="logo-trinks" src="/Content/img/logos/Logo-Trinks-Padrao.png" title="Trinks.com - Sistema de Gestão e Agendamento online" alt="Trinks.com" style="width:22%; height:100%" border="0" />
                    <h3 class="header-test animated fadeIn faster" class-on-scroll="scrolled" class-on-scroll-past-element="nome-estabelecimento">Rocky Barbearia - Maria da Gra&#231;a</h3>
                </a>
                <button type="button" class="navbar-toggler" ng-click="vm.exibindoMenu = !vm.exibindoMenu">
                    <span class="sr-only">Exibir/Esconder menu</span>
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>
            <div ng-cloak class="collapse navbar-collapse justify-content-end" uib-collapse="!vm.exibindoMenu">
                <menu-header></menu-header>
            </div>
        </div>
    </nav>
    <script type="text/ng-template" id="menu-header.directive.html">
        <ul class="nav navbar-nav" ng-if="vm.carregado">
    <li class="nav-item" ng-if="vm.logado === false">
        <a class="header__botao nav-link" ng-href="{{vm.links.login}}">Cadastrar ou entrar</a>
    </li>
    <li ng-if="vm.logado">
        <a class="nav-link text-primary" ng-href="{{vm.links.ondeSouCliente}}" title="Onde sou cliente">Favoritos</a>
    </li>
    <li ng-if="vm.logado">
        <a class="nav-link text-primary" ng-href="{{vm.links.meusAgendamentos}}" title="Meus agendamentos">Compromissos</a>
    </li>
    <li class="nav-item" ng-if="vm.deveExibirItemMeuNegocio">
        <a ng-href="{{vm.links.meuNegocio}}" class="nav-link text-primary">Meu negócio</a>
    </li>
    <li ng-if="vm.deveExibirItemMeusNegocios" uib-dropdown auto-close="outsideClick" class="nav-item dropdown">
        <a uib-dropdown-toggle class="nav-link dropdown-toggle text-primary" href="#" id="dropdown-estabelecimentos" role="button" aria-haspopup="true" aria-expanded="false">
            Meus negócios
        </a>
        <div uib-dropdown-menu class="dropdown-menu dropdown-menu-right" role="menu" aria-labelledby="dropdown-estabelecimentos">
            <div class="dropdown-item input-group" ng-if="vm.permiteFiltrarEstabelecimentos">
                <div class="input-group">
                    <input type="text" ng-model="vm.filtroEstabelecimentos" class="form-control" placeholder="Pesquisar">
                    <span class="input-group-btn">
                        <button class="btn-search" type="button"><i class="material-icons mt-1" style="font-size: 22px !important">search</i></button>
                    </span>
                </div>
                <!--<div class="input-group-prepend">
                    <div class="input-group-text">
                        <i class="fas fa-search"></i>
                    </div>
                </div>
                <input type="text" class="form-control" ng-model="vm.filtroEstabelecimentos" />-->
            </div>
            <div class="dropdown-divider" ng-if="vm.permiteFiltrarEstabelecimentos"></div>
            <small class="dropdown-item text-muted text-center" ng-if="vm.exibeUsadosRecentemente()"><i>— Usados recentemente —</i></small>
            <a class="dropdown-item" ng-if="vm.exibeUsadosRecentemente()" href="javascript:void(0);" ng-repeat="e in vm.estabelecimentosRecentes" ng-click="vm.selecionarEstabelecimento(e)">{{ e.Value }}</a>
            <a class="dropdown-item" ng-if="vm.exibeEstabelecimentosFiltrados()" href="javascript:void(0);" ng-repeat="e in vm.estabelecimentos | filter:vm.filtrarPorValor | limitTo:vm.limiteEstabelecimentos" ng-click="vm.selecionarEstabelecimento(e)">{{ e.Value }}</a>
            <div class="dropdown-divider" ng-if="vm.exibeDivisorConsolidados()"></div>
            <a class="dropdown-item" ng-if="!vm.filtroEstabelecimentos" href="javascript:void(0);" ng-repeat="e in vm.consolidados" ng-click="vm.selecionarConsolidado(e)">{{ e.Value }}</a>
        </div>
    </li>
    <li class="d-none d-lg-inline-block" ng-if="vm.usuario.urlFoto">
        <img style="height: 30px" class="rounded-circle mt-1 ml-3" ng-src="{{vm.usuario.urlFoto}}">
    </li>
    <li ng-if="vm.logado" uib-dropdown class="nav-item dropdown">
        <a uib-dropdown-toggle class="nav-link dropdown-toggle text-primary" href="#" id="dropdown-perfil" role="button" aria-haspopup="true" aria-expanded="false">
            {{ vm.usuario.nome }}
        </a>
        <div uib-dropdown-menu class="dropdown-menu dropdown-menu-right" role="menu" aria-labelledby="dropdown-perfil">
            <a class="dropdown-item" ng-if="vm.usuario.perfil.profissional" ng-href="{{vm.links.areaProfissional}}"><i class="fas fa-cut text-muted"></i> Minha área profissional</a>
            <a class="dropdown-item" ng-href="{{vm.links.meuCadastro}}"><i class="fas fa-user text-muted"></i> Meu cadastro</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" ng-href="{{vm.links.logout}}"><i class="fas fa-sign-out-alt text-muted"></i> Sair</a>
        </div>
    </li>
</ul>
    </script>
</header>

<main>
    



<div id="hotsiteAppContainer" ng-controller="HotsiteAgendeController as vm">
    <servico-info id-servico-estabelecimento="1628931" />
    <hotsite-info url="rockybarbearia" id-estabelecimento="22030" />
    <div class="d-flex justify-content-center justify-content-sm-start" style="background-color: #f2f2f2">
        <div class="row card-servico d-flex justify-content-between">
            <div>
                <span class="card-servico__titulo">Serviço:</span>
                <span class="card-servico__descricao" title="Corte a M&#225;quina">Corte a M&#225;quina</span>
            </div>
            <div class="card-servico__valor">
                <preco-servico ng-cloak servico="vm.dadosDoServico" dia-do-preco="vm.dataSelecionada" />
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row mb-3">
            <div class="col-12 mt-2 mt-sm-4 skeleton-screens-calendario">
                <calendario dia-selecionado="vm.dataSelecionada" servico="vm.dadosDoServico" limite-data-futura="'2024-06-10'" />
            </div>
        </div>

        <div class="row">
            <div class="skeleton-screens col-12" ng-if="vm.carregandoDados">
                <div class="mb-4">
                    <div style="max-width: 150px" class="line"></div>
                    <div class="line"></div>
                    <div class="line"></div>
                </div>
                <div class="mb-4">
                    <div style="max-width: 150px" class="line"></div>
                    <div class="line"></div>
                    <div class="line"></div>
                </div>
                <div class="mb-4">
                    <div style="max-width: 150px" class="line"></div>
                    <div class="line"></div>
                    <div class="line"></div>
                </div>
            </div>
        </div>

        <div class="row" ng-cloak ng-if="vm.naoPossuiHorariosDisponiveis()">
            <div class="col-12">
                <div class="lista-horarios__indisponivel">
                    <i class="material-icons" style="font-size: 30px !important">today</i><br />
                    <span ng-bind="vm.naoPossuiHorarios_mensagem"></span>
                </div>
            </div>
        </div>

        <div class="row" ng-cloak ng-if="vm.exibeHorariosDisponiveis()">
            <div class="col-12 mb-2" ng-repeat="(key, value) in vm.horariosPorPeriodo">
                <h6 class="mb-2" style="text-transform: capitalize">{{key}}</h6>
                <span ng-if="value.length <= 0" class="card-servico__titulo">Não há horários disponíveis nesse período.</span>
                <div ng-repeat="horario in value" class="lista-horarios mb-1">
                    <button ng-click="vm.selecionarHorario(horario)" tks-notification="selecaoHorario" tks-event-details="{servico: 'Corte a M&#225;quina', horario: horario.horario}" class="lista-horarios__botao selecao-hora">{{horario.horario}}</button>
                </div>
            </div>
        </div>

        <div class="row mb-5" ng-cloak ng-if="vm.selecionouHorario()">
            <div class="col-12">
                <span class="titulo-horario">Horário selecionado:</span>
                <button ng-click="vm.desmarcarHorarioSelecionado()" class="lista-horarios__botao-selecionado">{{vm.horarioSelecionado.horario}}</button>
            </div>
            <div class="col-12 mb-3 d-flex d-sm-block flex-column align-items-center">
                <card-profissional class="d-flex d-sm-inline justify-content-center"
                                   ng-repeat="p in vm.horarioSelecionado.profissionaisEstabelecimento"
                                   profissional="p" card-clicavel="true" card-horizontal="true"
                                   ng-click="vm.solicitarAgendamento(p, 'Corte a M&#225;quina')"
                                   exibe-recomendacoes="p.exibeAvaliacoesDosProfissionais" />
            </div>
            <div class="col-12" ng-if="vm.horarioSelecionado.profissionaisIndisponiveis.length > 0">
                <div class="d-block">
                    <span class="titulo-horario">Indisponíveis no horário selecionado:</span>
                </div>
                <div class="d-flex d-sm-block flex-column align-items-center">
                    <div class="card-profissional card-profissional--desabilitado card-profissional--horizontal" ng-repeat="p in vm.horarioSelecionado.profissionaisIndisponiveis">
                        <div class="d-flex mb-3">
                            <div>
                                <img class="card-profissional__img" ng-src="{{p.urlFoto}}">
                            </div>
                            <div>
                                <span class="card-profissional__titulo">{{p.nome}}</span>
                                <span class="card-profissional__descricao-valor">{{p.funcao || "&nbsp;"}}</span>
                                <div class="card-profissional__bloco-recomendacoes">
                                    <div class="card-profissional__icon">
                                        <i class="material-icons" ng-if="p.favorito">favorite</i>
                                        <i class="material-icons" ng-if="!p.favorito && p.exibeAvaliacoesDosProfissionais && p.recomendacoes > 0">favorite_border</i>
                                    </div>
                                    <div class="d-flex align-items-center" ng-if="p.exibeAvaliacoesDosProfissionais">
                                        <span class="card-profissional__descricao sem-recomendacoes m-1" ng-if="p.recomendacoes > 0">{{p.recomendacoes}}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="ml-auto mr-auto">
                            <a class="btn button--primary-color-inverted" ng-href="{{vm.obterUrlParaHorariosDisponiveisDoProfissional(p)}}">Ver disponibilidades</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <script type="text/ng-template" id="calendario.directive.html">
        <div class="calendario">
    <div class="d-flex align-items-center pb-2">
        <button class="btn btn-link d-flex align-items-center p-0" ng-click="voltar()">
            <i class="material-icons">arrow_back</i>
            <span class="ml-1 d-none d-sm-block">Anterior</span>
        </button>
        <span class="escolha-horario" style="flex: 1; text-align: center">Escolha o seu horário</span>
        <button class="btn btn-link d-flex align-items-center p-0" ng-click="avancar()">
            <span class="mr-1 d-none d-sm-block">Próximo</span>
            <i class="material-icons">arrow_forward</i>
        </button>
    </div>
    <hr class="m-0" />
    <div class="calendario__lista-datas">
        <div class="calendario__dia calendario-dia" ng-repeat="data in datas" ng-class="{'calendario-dia--selecionado': dataEstaSelecionada(data.data)}" ng-click="selecionarData(data.data)">
            <span class="calendario-dia__dia-semana" >{{data.diaDaSemana}}</span>
            <span class="calendario-dia__dia-mes">
                <span>{{data.dia}}</span>
                <span>/</span>
                <span class="calendario-dia__dia">{{data.mes}}</span>
            </span>
            <span class="calendario-dia__desconto">
                <span ng-if="obterPercentualDeDesconto(data.data) > 0">{{obterPercentualDeDesconto(data.data)}}% OFF</span>
            </span>
        </div>
    </div>
</div>
    </script>
    <script type="text/ng-template" id="preco-servico.directive.html">
        <span class="textoServicos__desconto" ng-if="servico.tipo==0 && exibePrecoAnterior(servico)"><span class="textoServicos__ate-x-porcento" ng-if="exibeMelhorPromocao()">até {{obterPercentualDeDesconto(servico)}}%</span> <span ng-if="exibeMelhorPromocao()">em dias especiais</span></span>
    <span class="textoServicos__partirde" ng-if="servico.tipo==0 && exibeAPartirDe(servico)">A partir de:</span>
<div ng-class="{'d-flex justify-content-center': centralizar, 'd-flex justify-content-center justify-content-sm-start': !centralizar}">
    <span class="textoServicos__valorantigo" ng-if="servico.tipo==0 && exibePrecoAnterior(servico)">{{obterValorAnterior(servico)}}</span>
    <span class="textoServicos__valor" ng-if="servico.tipo==0">{{obterTextoPreco(servico)}}</span>
    <span class="textoServicos__valor" ng-if="servico.tipo==1">{{formatarValor(servico.preco)}}</span>
</div>
    </script>
    <script type="text/ng-template" id="card-profissional.directive.html">
        <div class="profissional card-profissional" ng-class="{ 'card-profissional--horizontal': cardHorizontal, 'card-profissional--clicavel': cardClicavel }">
    <div class="card-profissional__bloco-imagem">
        <img class="card-profissional__img" ng-src="{{profissional.urlFoto}}">
    </div>
    <div class="card-profissional__bloco-informacoes">
        <span class="card-profissional__titulo">{{profissional.nome}}</span>
        <span class="card-profissional__descricao-valor">{{profissional.funcao || "&nbsp;"}}</span>
        <div class="card-profissional__bloco-recomendacoes">
            <div class="card-profissional__icon" ng-if="profissional.favorito">
                <i class="material-icons">favorite</i>
            </div>
            <div class="card-profissional__icon" ng-if="!profissional.favorito && exibeRecomendacoes && profissional.recomendacoes > 0">
                <i class="material-icons">favorite_border</i>
            </div>
            <div class="d-flex align-items-center" ng-if="exibeRecomendacoes">
                <span class="card-profissional__descricao m-1" ng-if="profissional.recomendacoes > 0">{{profissional.recomendacoes}}</span>
            </div>
        </div>
    </div>
</div>
    </script>
</div>
</main>



<footer class="row pl-lg-5 pr-lg-5 p-3 m-0" style="background: #f2f2f2">
    <div class="col-12 col-sm-12 col-md-7 col-lg-6 mb-3 mb-md-0 footer-box">
        <h5 class="footer-box__titulo">Encontre no Trinks</h5>
        <div class="footer-box__bloco-links">
                <a href="/rio-de-janeiro-rj?latitude=&amp;longitude=#idCategoria=1" class="footer-box__link">Unhas</a>
                <a href="/rio-de-janeiro-rj?latitude=&amp;longitude=#idCategoria=2" class="footer-box__link">Cabelos</a>
                <a href="/rio-de-janeiro-rj?latitude=&amp;longitude=#idCategoria=7" class="footer-box__link">Barbearia</a>
                <a href="/rio-de-janeiro-rj?latitude=&amp;longitude=#idCategoria=4" class="footer-box__link">Depila&#231;&#227;o</a>
                <a href="/rio-de-janeiro-rj?latitude=&amp;longitude=#idCategoria=5" class="footer-box__link">Maquiagem</a>
                <a href="/rio-de-janeiro-rj?latitude=&amp;longitude=#idCategoria=6" class="footer-box__link">Sobrancelhas</a>
                <a href="/rio-de-janeiro-rj?latitude=&amp;longitude=#idCategoria=8" class="footer-box__link">Massagem e Est&#233;tica</a>
                <a href="/rio-de-janeiro-rj?latitude=&amp;longitude=#idCategoria=11" class="footer-box__link">Podologia</a>
        </div>
    </div>
    <div class="col-12 col-sm-12 col-md-3 offset-lg-1 mb-3 mb-md-0 footer-box">
        <a class="footer-box__titulo mb-3" href="https://www.trinks.com/Portal/CentralAtendimento/TermosDeUsoCliente" target="_blank" title="Termos de uso">Termos de uso</a>
        <a class="footer-box__titulo mb-3" href="https://ajuda.trinks.com/" target="_blank" title="Dúvidas frequentes">Dúvidas frequentes</a>
        <a class="footer-box__titulo mb-1" href="http://trinks.rds.land/mkt-lp-de-politica-de-privacidade-trinks" target="_blank" title="Política de privacidade">Política de privacidade</a>
    </div>
    <div class="col-12 col-sm-12 col-md-2 footer-box">
        <h5 class="footer-box__titulo">Nossas redes sociais</h5>
        <a href="https://www.facebook.com/TrinksOficial/" target="_blank" title="Trinks no Facebook"><img loading="lazy" src="/content/img/hotsite/facebook.svg" class="footer-box__icons"></a>
        <a href="https://www.instagram.com/apptrinks/" target="_blank" title="Trinks no Instagram"><img loading="lazy" src="/content/img/hotsite/instagram.svg" class="footer-box__icons"></a>
    </div>
</footer>

    

    <script src="https://djnn6j6gf59xn.cloudfront.net/bundles/jquery-bundle?v=wvxYB36lSmTEmWkP610ZEy6FYR0xwS6X3cw_fqe0p1c1"></script>

    <script src="https://djnn6j6gf59xn.cloudfront.net/bundles/ng-bundle?v=xNow29xGIOCRhs5ZH7aGh-xzQxYB4GqfTINvDqRgA2s1"></script>

    <script src="https://djnn6j6gf59xn.cloudfront.net/bundles/ng-shared-v1?v=uOj_GetpiZ8LDLb66Q9RSsUQruUJEaHQBs01FXXKZxk1"></script>


    
    <script src="https://djnn6j6gf59xn.cloudfront.net/bundles/ng-and-jquery-pre-requisites?v=KAynclorf7pq2fxn0gqLA_PE2E-LC2i1f57iYgS3Rsw1"></script>

    
    <script src="https://djnn6j6gf59xn.cloudfront.net/bundles/ng-estabelecimentos-v1?v=hNZvNs4I6uaCCnq5x8LjLlaE8J_nhEDNPWqBtGbH0ag1"></script>

    <script src="https://djnn6j6gf59xn.cloudfront.net/bundles/ng-hotsite-v1?v=_mRsVCLWPKWoqtlVKCC4uHSQWSsA7vdi47dD2gDMlw01"></script>

    <script src="https://djnn6j6gf59xn.cloudfront.net/bundles/ng-menu-header-v1?v=tvVUgoz9wwikZL_lRM2ToJSk00uTtSevshiPvH6s8Z41"></script>

    <script src="https://djnn6j6gf59xn.cloudfront.net/bundles/ng-header-v1?v=AgDWVWF-2ECezNZ_YExrcy2JQ_0jdt_0xMeFvBhd1xY1"></script>

    

    <style>
        slick.slick-slider, .calendario {
            width: 1px;
            min-width: 100%;
            *width: 100%;
        }
    </style>
    <script src="/content/js/metricas.js"></script>

    <script src="https://djnn6j6gf59xn.cloudfront.net/Scripts/shared.js?v=069098a7ae"></script>
</body>
</html>